<!DOCTYPE html>
<html lang="en">
<head>
    <title>智能画像</title>
</head>
<body>
    @@include("src/page/parts/!ref.html")
    @@include("src/page/parts/!header.html")
    <div class="main">
        <div class="autocomplete-group">
            <div class="search-group full-width fixed">
                <div>
                    <div class="input-group full-width">
                        <div class="input-group-addon group-dropdown">
                            <a href="javascript:;" data-toggle="dropdown">
                                <span class="content-text">商品</span>
                                <i class="tri-down"></i>
                            </a>
                            <ul class="dropdown-menu tri black" role="menu">
                                <li><a href="user.html">会员</a></li>
                                <li><a href="product.html">商品</a></li>
                            </ul>
                        </div>
                        <input type="tel" placeholder="请输入商品编号" v-model="searchValue">
                    </div>
                </div>
                <div class="qrcode-group search-group-placement">
                    <span v-if="expand" @click="cancel">
                        取消
                    </span>
                    <span v-else>
                        <i class="icon-scan"></i>扫一扫
                    </span>
                </div>
            </div>
            <div class="autocomplete-list form" v-show="expand" :style="{paddingTop: styles.completeTop}">
                <div class="tip nodata" v-if="nodata"><i class="icon-warning"></i>查无此数据，请检查是否输入正确</div>
                <template v-else>
                    <div class="form-group" v-for="item in searchList" @click="useItem(item)">
                        <label v-text="item"></label>
                    </div>
                </template>
            </div>
            <hr>
        </div>
        <div class="tab-container fixed full-width">
            <div class="top-space"></div>
            <div class="bg-white">
                <ul class="tab-list">
                    <li class="active"><a href="#info" data-toggle="tab">商品概况</a></li>
                    <li><a href="#detail" data-toggle="tab">商品详情</a></li>
                    <li><a href="#compare" data-toggle="tab">价格对比</a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="tab-content s-scroll-y" v-cloak="">
            <div class="tab-pane fade in active" id="info">
                <figure class="product-item v">
                    <div class="img-wrap">
                        <img :src="'../statics/images/demo/'+product.list.img" alt="">
                    </div>
                    <ul>
                        <li v-for="v, k in product.list" v-if="k!='img'">
                            <span class="title" v-text="k"></span><span v-text="v"></span>
                        </li>
                    </ul>
                </figure>
            </div>
            <div class="tab-pane fade" id="detail">
                <div class="product-detail">
                    <table class="table-group">
                        <tbody v-for="item in product.detail">
                        <tr>
                            <td class="legend" colspan="2" v-text="item.title"></td>
                        </tr>
                        <tr v-for="v, k in item.detail">
                            <td v-text="k"></td>
                            <td v-text="v"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="compare">
                <div class="tip unwork"><i class="icon-warning"></i>此功能尚未开放</div>
            </div>
        </div>
    </div>
    @@include("src/page/parts/!footer.html")
    <script src="${rc.contextPath}/statics/js/product.js"></script>
</body>
</html>