<!DOCTYPE html>
<html lang="en">
<head>
    <title>智能画像</title>
</head>
<body>
    @@include("src/page/parts/!ref.html")
    @@include("src/page/parts/!header.html")
    <div class="main">
        <div class="autocomplete-group">
            <div class="search-group full-width fixed">
                <div>
                    <div class="input-group full-width">
                        <i class="input-group-addon icon-search"></i>
                        <input type="text" placeholder="请输入会员手机号" v-model="searchValue" @focus="open" @keyup.enter="enter">
                        <div class="input-group-addon" @click="clear">
                            <i class="icon-clear"></i>
                        </div>
                    </div>
                </div>
                <div class="search-group-placement" v-show="expand" @click="cancel">取消</div>
            </div>
            <div class="autocomplete-list form" v-show="expand" :style="{paddingTop: styles.completeTop}">
                <div class="form-group" v-for="item in searchList" @click="useItem(item)">
                    <label v-text="item"></label>
                </div>
            </div>
            <div class="tip-wrap" v-if="noResult" :style="{top: styles.completeTop}">
                <div class="tip nodata"><i class="icon-warning"></i>查无此数据，请检查是否输入正确</div>
            </div>
            <div class="tip-welcome" v-show="noInit">HI，欢迎使用智能画像系统</div>
        </div>
        <div v-show="!noInit && !expand">
            <div class="tab-container fixed full-width">
                <div class="top-space"></div>
                <div class="bg-white">
                    <ul class="tab-list">
                        <li class="active"><a href="#info" data-toggle="tab">近期关注</a></li>
                        <li><a href="#detail" data-toggle="tab">历史购买</a></li>
                    </ul>
                </div>
                <hr>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="info">
                    <template v-if="product.list">
                        <figure class="product-item" v-for="item in product.list">
                            <div class="img-wrap">
                                <img :src="'../statics/images/demo/'+item.img" alt="">
                            </div>
                            <ul>
                                <li v-for="v, k in item">
                                    <template v-if="k!='img'">
                                        <span class="title" v-text="k"></span>：<span v-text="v"></span>
                                    </template>
                                </li>
                            </ul>
                        </figure>
                    </template>
                </div>
                <div class="tab-pane fade" id="detail">
                    <template v-if="product.his">
                        <figure class="product-item" v-for="item in product.his">
                            <div class="img-wrap">
                                <img :src="'../statics/images/demo/'+item.img" alt="">
                            </div>
                            <ul>
                                <li v-for="v, k in item">
                                    <template v-if="k!='img'">
                                        <span class="title" v-text="k"></span>：<span v-text="v"></span>
                                    </template>
                                </li>
                            </ul>
                        </figure>
                    </template>
                </div>
            </div>
        </div>
    </div>
    @@include("src/page/parts/!footer.html")
    <script src="${rc.contextPath}/statics/js/userfocus.js"></script>
</body>
</html>