<!DOCTYPE html>
<html lang="en">
<head>
    <title>智能画像</title>
</head>
<body>
    @@include("src/page/parts/!ref.html")
    @@include("src/page/parts/!header.html")
    <div class="main">
        <div class="autocomplete-group">
            <div class="search-group full-width fixed">
                <div>
                    <div class="input-group full-width">
                        <i class="input-group-addon icon-search"></i>
                        <input type="tel" placeholder="请输入会员手机号" v-model="searchValue">
                    </div>
                </div>
                <div class="search-group-placement" v-show="expand" @click="cancel">
                    取消
                </div>
            </div>
            <div class="autocomplete-list form" v-show="expand" :style="{paddingTop: styles.completeTop}">
                <div class="tip nodata" v-if="nodata"><i class="icon-warning"></i>查无此数据，请检查是否输入正确</div>
                <template v-else>
                    <div class="form-group" v-for="item in searchList" @click="useItem(item)">
                        <label v-text="item"></label>
                    </div>
                </template>
            </div>
        </div>
        <div class="tab-container fixed full-width">
            <div class="top-space"></div>
            <div class="bg-white">
                <ul class="tab-list">
                    <li class="active"><a href="#info" data-toggle="tab">近期关注</a></li>
                    <li><a href="#detail" data-toggle="tab">历史购买</a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="tab-content s-scroll-y" v-cloak>
            <div class="tab-pane fade in active" id="info">
                <figure class="product-item" v-for="item in product.list">
                    <div class="img-wrap">
                        <img :src="'../statics/images/demo/'+item.img" alt="">
                    </div>
                    <ul>
                        <li><span class="title">商品名称：</span><span v-text="item['商品名称']"></span></li>
                        <li><span class="title">商品编号：</span><span v-text="item['商品编号']"></span></li>
                        <li><span class="title">库存：</span><span v-text="item['库存']"></span></li>
                        <li><span class="title">最近一次关注：</span><span v-text="item['最近一次关注']"></span></li>
                    </ul>
                </figure>
            </div>
            <div class="tab-pane fade" id="detail">
                <figure class="product-item" v-for="item in product.his">
                    <div class="img-wrap">
                        <img :src="'../statics/images/demo/'+item.img" alt="">
                    </div>
                    <ul>
                        <li><span class="title">商品名称：</span><span v-text="item['商品名称']"></span></li>
                        <li><span class="title">商品编号：</span><span v-text="item['商品编号']"></span></li>
                        <li><span class="title">库存：</span><span v-text="item['库存']"></span></li>
                        <li><span class="title">最近一次购买：</span><span v-text="item['最近一次购买']"></span></li>
                    </ul>
                </figure>
            </div>
        </div>
    </div>
    @@include("src/page/parts/!footer.html")
    <script src="${rc.contextPath}/statics/js/userfocus.js"></script>
</body>
</html>