<!DOCTYPE html>
<html lang="en">
<head>
    <title>智能画像</title>
</head>
<body>
    @@include("src/page/parts/!ref.html")
    @@include("src/page/parts/!header.html")
    <div class="main">
        <div class="autocomplete-group">
            <div class="search-group full-width fixed">
                <div>
                    <div class="input-group full-width">
                        <i class="input-group-addon icon-search"></i>
                        <div>
                            <input type="text" placeholder="请输入会员手机号" v-model="searchValue" @focus="open" @keyup.enter="enter">
                        </div>
                        <div class="input-group-addon" v-show="searchValue" @click="clear">
                            <i class="icon-clear"></i>
                        </div>
                    </div>
                </div>
                <div class="search-group-placement" v-show="expand" @click="cancel">取消</div>
            </div>
            <div class="autocomplete-list form" v-show="expand" :style="{paddingTop: styles.completeTop}">
                <div class="form-group" v-for="item in searchList" @click="useItem(item)">
                    <label v-text="item"></label>
                </div>
            </div>
            <div class="tip-welcome" v-show="noInit">HI，欢迎使用智能画像系统</div>
        </div>
        <div v-show="!noInit && !expand">
            <div class="tab-container fixed full-width">
                <div class="top-space"></div>
                <div class="bg-white">
                    <ul class="tab-list">
                        <li :class="{active: activeIndex == 0}"><a href="javascript:;" @click="activeTab(0)">近期关注</a></li>
                        <li :class="{active: activeIndex == 1}"><a href="javascript:;" @click="activeTab(1)">历史购买</a></li>
                    </ul>
                </div>
                <hr>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade in" :class="{active: activeIndex == 0}">
                    <template v-if="product.data[0].list && product.data[0].list.length">
                        <figure class="product-item" v-for="item in product.data[0].list">
                            <div class="img-wrap">
                                <img :src="item.img" alt="" @error="product.imgError(item)" v-if="item.img">
                                <img src="${rc.contextPath}/statics/images/default/lost.jpg" alt="" v-else>
                            </div>
                            <ul>
                                <li v-for="v in item.list">
                                    <span class="title" v-text="v[0]"></span>：<span class="color-black-4" v-text="v[1]"></span>
                                </li>
                            </ul>
                        </figure>
                    </template>
                    <div class="tip-wrap" v-if="product.data[0].state.data==1">
                        <div class="tip nodata">加载中，请耐心等待</div>
                    </div>
                </div>
                <div class="tab-pane fade in" :class="{active: activeIndex == 1}">
                    <template v-if="product.data[1].list && product.data[1].list.length">
                        <figure class="product-item" v-for="item in product.data[1].list">
                            <div class="img-wrap">
                                <img :src="item.img" alt="" @error="product.imgError(item)" v-if="item.img">
                                <img src="${rc.contextPath}/statics/images/default/lost.jpg" alt="" v-else>
                            </div>
                            <ul>
                                <li v-for="v in item.list">
                                    <span class="title" v-text="v[0]"></span>：<span class="color-black-4" v-text="v[1]"></span>
                                </li>
                            </ul>
                        </figure>
                    </template>
                    <div class="tip-wrap" v-if="(product.data[1].state.data==2||product.data[1].state.data==3)&& !product.data[1].state.result">
                        <div class="tip nodata"><i class="icon-warning"></i>查无此数据，请检查是否输入正确</div>
                    </div>
                    <div class="tip-wrap" v-if="product.data[1].state.data==1">
                        <div class="tip nodata">加载中，请耐心等待</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include("src/page/parts/!footer.html")
    <script src="${rc.contextPath}/statics/js/userfocus.js"></script>
</body>
</html>