<!DOCTYPE html>
<html lang="en">
<head>
    <title>智能画像</title>
</head>
<body>
    @@include("src/page/parts/!ref.html")
    @@include("src/page/parts/!header.html")
    <div class="main">
        <div class="autocomplete-group">
            <div class="search-group full-width fixed">
                <div>
                    <div class="input-group full-width">
                        <div class="input-group-addon group-dropdown">
                            <a href="javascript:;" data-toggle="dropdown">
                                <span class="content-text">会员</span>
                                <i class="tri-down"></i>
                            </a>
                            <ul class="dropdown-menu tri black" role="menu">
                                <li><a href="user.html">会员</a></li>
                                <li><a href="product.html">商品</a></li>
                            </ul>
                        </div>
                        <input type="tel" placeholder="请输会员入手机号" @input="filter" v-model="searchValue">
                    </div>
                </div>
            </div>
            <div class="autocomplete-list form" v-show="expand" :style="{paddingTop: styles.completeTop}">
                <div class="form-group" v-for="item in searchList" @click="useItem(item)">
                    <label v-text="item"></label>
                </div>
            </div>
        </div>
        <div class="user-list s-scroll-y" v-cloak>
            <div class="form">
                <fieldset v-for="item in userData">
                    <legend v-text="item.title">用户身份</legend>
                    <template v-for="v, k in item.detail">
                        <div class="form-group">
                            <label v-text="k"></label>
                            <span class="control-text" v-text="v">{</span>
                        </div>
                    </template>
                </fieldset>
            </div>
        </div>
    </div>
    @@include("src/page/parts/!footer.html")
    <script src="${rc.contextPath}/statics/js/user.js"></script>
</body>
</html>