@indent-lr: 12pt;
@title-size: 36pt;
@header-height: 88pt;
@footer-height: 98pt;

body{
  font-family: Hiragino;
  font-size: 28pt;
  line-height: 1;
  color: @font-color;
  background-color: #fff;
}
header, footer{
  position: fixed;
  z-index: 1; // 防止后面的元素的默认层级高过头部和尾部
  padding: 0 @indent-lr;
  width: 100%;
  color: #fff;
}
header{
  top: 0;
  height: @header-height;
  font-size: 32pt;
  line-height: @header-height;
  color: #fff;
  background-color: #018be6;
  .back{
    position: absolute;
    top: 0;
    left: @indent-lr;
    vertical-align: middle;
    > i{
      font-size: 1.5em;
    }
    > i, .back-text{
      vertical-align: middle;
    }
  }
  .header-text{
    font-size: @title-size;
    text-align: center;
  }
  .right-side{
    position: absolute;
    top: (@header-height - 32pt) / 2;
    right: @indent-lr;
    line-height: 1;
  }
  .dropdown-menu{
    min-width: auto;
    font-size: 30pt;
  }
}
footer{
  bottom: 0;
  padding-bottom: 12pt;
  height: @footer-height;
  border-top: 1px solid @border-color;
  font-size: 20pt;
  color: #929292;
  background-color: #f7f7f7;
  i{
    display: block;
    margin-bottom: 10pt;
    font-size: 34pt;
  }
  .table-list{
    > li{
      vertical-align: bottom;
    }
  }
  .active{
    color: #007aff;
  }
}

.main{
  padding-top: @header-height;
  margin-bottom: @footer-height;
}
.search-group{
  display: table;
  padding: 15pt;
  background-color: #fff;
  >*{
    display: table-cell;
  }
  .input-group{
    height: 56pt;
    background-color: #e9e8e7;
  }
  .qrcode-group{
    box-sizing: content-box;
    width: 55pt;
    padding-left: 18pt;
    font-size: 18pt;
    text-align: center;
    vertical-align: middle;
    > i{
      font-size: 34pt;
    }
  }
}
hr{
  margin: 0;
  border-top-color: @border-color;
}
a:focus, a:hover{
  text-decoration: none;
}
.top-space{
  height: 20pt;
  background-color: @default-bg;
}