@import "_var";
@import "_mixin";
/* 水平排列的列表 */
.hlist{
  .clearfix;
  li{
    float: left;
  }
}
.form-list{
  &.nopadding{
    padding: 0;
  }
}
.table-list{
  display: table;
  width: 100%;
  height: 100%;
  > li{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}
.tab-list{
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-size: 32pt;
  color: @font-color;
  > li{
    display: table-cell;
    padding: 25pt;
    > a{
      padding-top: 25pt;
      padding-bottom: 25pt;
      line-height: normal;
    }
  }
  > .active{
    > a{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 3px solid @font-color;
      }
    }
  }
}

/**
    table-cell布局+vue循环渲染数据，可能导致在iphone6及以上手机浏览器卡死，原因不明
*/
.product-item{
  display: table;
  width: 100%;
  color: @color-black-2;
  &:last-child{
    border-bottom: none;
  }
  > *{
    display: table-cell;
    vertical-align: middle;
  }
  .img-wrap{
    box-sizing: content-box;
    padding: 30pt 30pt 10pt 20pt;
    width: 200pt;
    text-align: center;
  }
  img{
    max-width: 200pt;
    max-height: 400pt;
    text-align: center;
  }
  ul{
    padding: 30pt 30pt 10pt 0;
    line-height: 38pt;
    border-bottom: 1px solid @border-color;
    background-color: #fff;
    li{
      font-weight: normal;
      margin-bottom: 20pt;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &.v{
    display: block;
    .img-wrap{
      display: block;
      width: auto;
    }
    img{
      max-width: auto;
      max-height: 420pt;
    }
    ul{
      //line-height: 45pt;
      li{
        > span{
          display: block;
        }
      }
    }
  }
}
.table-group{
  padding: 50pt 20pt 20pt;
  table{
    @border-color: #e7e7e7;
    @legend-color: #626262;
    width: 100%;
    border: 1px solid @border-color;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 24pt;
    color: @legend-color;
    .legend{
      font-weight: bold;
    }
    td{
      padding: 25pt 35pt;
      line-height: 35pt;
      text-align: left;
      border: 1px solid @border-color;
    }
    td:first-child{
      width: 187pt;
    }
    td:last-child{
      font-size: 22pt;
    }
    + table{
      margin-top: 0;
    }
  }
}