@import "_var";
@import "_mixin";
/* 水平排列的列表 */
.hlist{
  .clearfix;
  li{
    float: left;
  }
}
.form-list{
  &.nopadding{
    padding: 0;
  }
}
.table-list{
  display: table;
  width: 100%;
  height: 100%;
  > li{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}
.tab-list{
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-size: 32pt;
  color: @font-color;
  > li{
    display: table-cell;
    padding: 25pt;
    > a{
      padding-top: 25pt;
      padding-bottom: 25pt;
    }
  }
  > .active{
    > a{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 3px solid @font-color;
      }
    }
  }
}


.product-item{
  display: table;
  width: 100%;
  border-bottom: 1px solid @border-color;
  &:last-child{
    border-bottom: none;
  }
  > *{
    display: table-cell;
    vertical-align: middle;
  }
  .img-wrap{
    padding-top: 40pt;
    padding-bottom: 40pt;
    text-align: center;
    background-color: @default-bg;
  }
  img{
    max-width: 240pt;
    max-height: 420pt;
    text-align: center;
  }
  ul{
    padding: 25pt 30pt;
    background-color: #fff;
    line-height: 38pt;
    li{
      font-weight: normal;
      margin-bottom: 20pt;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &.v{
    display: block;
    .img-wrap{
      display: block;
    }
    img{
      max-width: auto;
      max-height: 420pt;
    }
    ul{
      //line-height: 45pt;
      li{
        > span{
          display: block;
        }
      }
    }
  }
}
.product-detail{
  @border-color: #e7e7e7;
  padding: 50pt 20pt 0;
  > table{
    width: 100%;
    border: 2px solid @border-color;
    border-collapse: collapse;
    font-size: 32pt;
    color: #93959e;
    background-color: #fff;
    td{
      border: 1px solid @border-color;
    }
  }
  .table-group{
    font-size: 24pt;
    color: #848689;
    .legend{
      font-weight: bold;
      color: #626262;
    }
    td{
      padding: 25pt 0 25pt 35pt;
      line-height: 30pt;
      text-align: left;
    }
    td:first-child{
      width: 187pt;
    }
    td:last-child{
      font-size: 22pt;
    }
    + .table-group{
      margin-top: 0;
    }
  }

}